.card {
  position: relative;
}

.card__image {
  max-height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 12px 0 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-size: 20px;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  background-image: url('../images/gray-like-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 12px 0 0;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-image 0.3s ease;
}

.card__like-btn:hover {
  background-image: url('../images/dark-like-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.2);
}

.card__like-btn_liked {
background-image: url('../images/like-icon-liked.svg');
transition: background-image 0.2s ease;
}

.card__like-btn_liked:hover {
  background-image: url('../images/like-icon-liked-hover.svg');
}

.card__delete-btn {
  width: 20px;
  height: 20px;
  background-image: url('../images/delete-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card__delete-btn:hover {
  background-image: url('../images/delete-icon-hover.svg');
  transform: scale(1.2);
}




@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    line-height: 1.3;
    margin: 12px 0 0;
    font-size: 16px;
  }
}